apiVersion: v1
kind: Secret
metadata:
  name: {{ trader_name }}-secret
  namespace: {{ namespace }}
  labels:
    app: hyper-trader
    trader-address: "{{ wallet_address }}"
    managed-by: api
type: Opaque
stringData:
  PRIVATE_KEY: "{{ private_key }}"
